doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina
            p Nueva contrase単a

            form.caja-login(method="POST")
                .campo 
                    label(for="password") Contrase単a: 
                    input(type="password", name="password" placeholder="Nueva contrase単a" required)
                .campo.enviar 
                    input.boton(type="submit" value="Guardar Contrase単a")
